# eclipse
kotlin_bin
.settings
settings
.gradle
gradle
gradlew
config.xar
.classpath
.project

# IntelliJ
.idea
.java-version
.gradletasknamecache
.sdkmanrc
.history/
conf/*
logs
efs
*.iml

# vscode
.vscode

# output
.build
build
bin
out
